# Eclipse
.metadata
.classpath
.project
.settings
.loadpath
.recommenders
.tern-project
bin/
tmp/

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Intellij
vraptor-produtos.iml
.idea/

# Project
target/
overlays/
logs/

